 /* CSS FOR NAVIGATION BAR */

.gap{
   padding-right: 50px;
 }

.help{
   padding-right: 30px;
 }


 .navbar a:hover {
 background-color: black;

 .navbar-icon-top .navbar-nav .nav-link > .fa {
   position: relative;
   width: 36px;
   font-size: 24px;
 }

 .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
   font-size: 0.75rem;
   position: absolute;
   right: 0;
   font-family: sans-serif;
 }

 .navbar-icon-top .navbar-nav .nav-link > .fa {
   top: 3px;
   line-height: 12px;

 }

 .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
   top: -10px;
 }

 @media (min-width: 576px) {
   .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
     text-align: center;
     display: table-cell;
     height: 70px;
     vertical-align: middle;
     padding-top: 0;
     padding-bottom: 0;
   }

   .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
     display: block;
     width: 48px;
     margin: 2px auto 4px auto;
     top: 0;
     line-height: 24px;
   }

   .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
     top: -7px;
   }
 }

 @media (min-width: 768px) {
   .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
     text-align: center;
     display: table-cell;
     height: 70px;
     vertical-align: middle;
     padding-top: 0;
     padding-bottom: 0;
   }

   .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
     display: block;
     width: 48px;
     margin: 2px auto 4px auto;
     top: 0;
     line-height: 24px;
   }

   .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
     top: -7px;
   }
 }

 @media (min-width: 992px) {
   .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
     text-align: center;
     display: table-cell;
     height: 70px;
     vertical-align: middle;
     padding-top: 0;
     padding-bottom: 0;
   }

   .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
     display: block;
     width: 48px;
     margin: 2px auto 4px auto;
     top: 0;
     line-height: 24px;
   }

   .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
     top: -7px;
   }
 }

 @media (min-width: 1200px) {
   .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
     text-align: center;
     display: table-cell;
     height: 70px;
     vertical-align: middle;
     padding-top: 0;
     padding-bottom: 0;
   }

   .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
     display: block;
     width: 48px;
     margin: 2px auto 4px auto;
     top: 0;
     line-height: 24px;
   }

   .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
     top: -7px;
   }
 }


h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 1em;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}


/* The sidebar menu */

.sidenav {
  height: auto;
  /* Full-height: remove this if you want "auto" height */
  width: 15em;
  /* Set the width of the sidebar */
  position: relative;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 5;
  /* Stay at the top */
  float: right;
  background-color: #cfcfea;
  /* Black */
  overflow-x: auto;
  /* Disable horizontal scroll */
  padding-top: 50px;
}

/* The navigation menu links */

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(66, 9, 104);
  display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #54428e;
}

/* Style page content */

.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#storyBoard,
#addBlock,
#title,
#submitStory {
  margin-left: 1em;
}

.node {
  font-size: 18px;
  color: #777;
}

.opt {
  margin-left: 1em;
}

#content,
#optionsFooter {
  padding: 1rem;
}

input[type="checkbox"] {
  border: 1px solid red;
}

input[type="text"] {
  font-size: 18px;
  width: 70%;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  padding: 8px 8px 8px 0px;
  margin: 8px 0;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #bf4c6b;
}
textarea {
  font-size: 18px;
  margin-top: 8px;
  font-size: 18px;
  width: 70%;
  border: 2px solid #aaaaaa;
  padding: 8px 8px 0;
  border-radius: 0px 10px;
  resize: none;
  height: 150px;
}
textarea:focus {
  outline: none;
  border: 2px solid #bf4c6b;
}
button,
input[type="submit"] {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #bf4c6b;
  border-radius: 10px 10px 10px 10px;
  padding: 8px 8px 8px;
  opacity: 0.6;
  color: white;
  border: none;
  text-align: center;
}
input[type="submit"]:hover,
button:hover {
  background-color: #bf4c6b;
  opacity: 1;
  cursor: pointer;
}
